# Azure DevOps Configuration
AZURE_DEVOPS_ORG=azure_devops_org_name
AZURE_DEV_URL=https://dev.azure.com/
AZURE_DEVOPS_PAT=your_azure_devops_personal_access_token_here

# Email Configuration (SMTP)
SMTP_SERVER=smtp.office365.com
SMTP_PORT=587
EMAIL_ADDRESS=test@site.com
EMAIL_PASSWORD=password